USE [master]
GO
/****** Object:  Database [QLGDCK2]    Script Date: 6/8/2022 5:09:36 PM ******/
CREATE DATABASE [QLGDCK2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLGDCK2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLGDCK2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLGDCK2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLGDCK2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLGDCK2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLGDCK2]
GO
/****** Object:  User [NV05]    Script Date: 6/8/2022 5:09:36 PM ******/
CREATE USER [NV05] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NV02]    Script Date: 6/8/2022 5:09:36 PM ******/
CREATE USER [NV02] FOR LOGIN [NV02] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NV01]    Script Date: 6/8/2022 5:09:36 PM ******/
CREATE USER [NV01] FOR LOGIN [NV07] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [AD01]    Script Date: 6/8/2022 5:09:36 PM ******/
CREATE USER [AD01] FOR LOGIN [AD01] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [a]    Script Date: 6/8/2022 5:09:36 PM ******/
CREATE USER [a] FOR LOGIN [a] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [NHANVIEN]    Script Date: 6/8/2022 5:09:36 PM ******/
CREATE ROLE [NHANVIEN]
GO
/****** Object:  DatabaseRole [ADMIN]    Script Date: 6/8/2022 5:09:36 PM ******/
CREATE ROLE [ADMIN]
GO
ALTER ROLE [NHANVIEN] ADD MEMBER [NV05]
GO
ALTER ROLE [NHANVIEN] ADD MEMBER [NV02]
GO
ALTER ROLE [NHANVIEN] ADD MEMBER [NV01]
GO
ALTER ROLE [ADMIN] ADD MEMBER [AD01]
GO
ALTER ROLE [db_owner] ADD MEMBER [AD01]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [AD01]
GO
ALTER ROLE [NHANVIEN] ADD MEMBER [a]
GO
ALTER ROLE [db_owner] ADD MEMBER [ADMIN]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [ADMIN]
GO
/****** Object:  Table [dbo].[LENHKHOP]    Script Date: 6/8/2022 5:09:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LENHKHOP](
	[MALENHKHOP] [varchar](20) NOT NULL,
	[NGAYGIOKHOP] [datetime] NOT NULL,
	[SLKHOP] [int] NOT NULL,
	[GIAKHOP] [money] NOT NULL,
	[MALENH] [varchar](20) NOT NULL,
 CONSTRAINT [PK_LENHKHOP_1] PRIMARY KEY CLUSTERED 
(
	[MALENHKHOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_LENHKHOPGANNHAT]    Script Date: 6/8/2022 5:09:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_LENHKHOPGANNHAT]
AS
SELECT MALENHKHOP, MALENH, NGAYMAX= MAX(NGAYGIOKHOP)
FROM LENHKHOP
GROUP BY MALENHKHOP, MALENH
GO
/****** Object:  Table [dbo].[COPHIEU]    Script Date: 6/8/2022 5:09:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COPHIEU](
	[MACP] [varchar](10) NOT NULL,
	[MASAN] [nchar](10) NOT NULL,
	[TENCTY] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](200) NOT NULL,
	[SDT] [varchar](30) NOT NULL,
	[FAX] [varchar](50) NOT NULL,
	[DIACHIWEB] [varchar](50) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[SLCP] [int] NOT NULL,
 CONSTRAINT [PK_COPHIEU] PRIMARY KEY CLUSTERED 
(
	[MACP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_QUYDINH]    Script Date: 6/8/2022 5:09:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_QUYDINH](
	[MANV] [int] NOT NULL,
	[MAQD] [varchar](10) NOT NULL,
	[BDGIA] [float] NOT NULL,
	[LLTT] [int] NOT NULL,
	[BUOCGIA] [int] NOT NULL,
 CONSTRAINT [PK_CT_QUYDINH] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC,
	[MAQD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LENHDAT]    Script Date: 6/8/2022 5:09:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LENHDAT](
	[MALENH] [varchar](20) NOT NULL,
	[MACP] [varchar](10) NOT NULL,
	[MATKNH] [varchar](20) NOT NULL,
	[LOAIGD] [char](3) NOT NULL,
	[SLDAT] [int] NOT NULL,
	[GIADAT] [money] NOT NULL,
	[NGAYGIODAT] [datetime] NOT NULL,
	[MATT] [varchar](10) NOT NULL,
	[MALOAILENH] [varchar](10) NOT NULL,
 CONSTRAINT [PK_LENHDAT] PRIMARY KEY CLUSTERED 
(
	[MALENH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LENHUNG]    Script Date: 6/8/2022 5:09:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LENHUNG](
	[ID] [varchar](20) NOT NULL,
	[NGAYBAN] [datetime] NOT NULL,
	[NGAYYC] [datetime] NOT NULL,
	[SOTIENUNG] [money] NOT NULL,
	[PHIUNG] [money] NOT NULL,
	[MATKNH] [varchar](20) NOT NULL,
	[MACP] [varchar](10) NOT NULL,
 CONSTRAINT [PK_LENHUNG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUGIA]    Script Date: 6/8/2022 5:09:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUGIA](
	[MACP] [varchar](10) NOT NULL,
	[NGAY] [date] NOT NULL,
	[GIATC] [money] NOT NULL,
 CONSTRAINT [PK_GIATHAMCHIEU] PRIMARY KEY CLUSTERED 
(
	[MACP] ASC,
	[NGAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAILENH]    Script Date: 6/8/2022 5:09:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAILENH](
	[MALOAILENH] [varchar](10) NOT NULL,
	[TENLENH] [nvarchar](100) NOT NULL,
	[MOTALENH] [ntext] NULL,
 CONSTRAINT [PK_LOAILENH] PRIMARY KEY CLUSTERED 
(
	[MALOAILENH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGANHANG]    Script Date: 6/8/2022 5:09:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGANHANG](
	[MANH] [varchar](20) NOT NULL,
	[TENNH] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_NGANHANG] PRIMARY KEY CLUSTERED 
(
	[MANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGAY]    Script Date: 6/8/2022 5:09:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGAY](
	[NGAY] [date] NOT NULL,
 CONSTRAINT [PK_NGAY] PRIMARY KEY CLUSTERED 
(
	[NGAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHADAUTU]    Script Date: 6/8/2022 5:09:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHADAUTU](
	[MATK] [varchar](10) NOT NULL,
	[HO] [nvarchar](40) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[NOISINH] [nvarchar](200) NULL,
	[PHAI] [nvarchar](3) NOT NULL,
	[DIACHI] [nvarchar](200) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[SDT] [varchar](20) NOT NULL,
	[CMND_PASSPORT] [varchar](50) NOT NULL,
	[NGAYCAP] [date] NOT NULL,
	[NOICAP] [nvarchar](200) NOT NULL,
	[NOILAMVIEC] [char](1) NOT NULL,
	[MAGD] [varchar](50) NOT NULL,
	[MKDATLENH] [varchar](50) NOT NULL,
 CONSTRAINT [PK_NHADAUTU] PRIMARY KEY CLUSTERED 
(
	[MATK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 6/8/2022 5:09:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] NOT NULL,
	[HO] [nvarchar](40) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[PHAI] [nvarchar](3) NOT NULL,
	[DIACHI] [nvarchar](200) NOT NULL,
	[SDT] [varchar](20) NOT NULL,
	[LUONG] [money] NOT NULL,
	[NGAYSINH] [date] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYDINH]    Script Date: 6/8/2022 5:09:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYDINH](
	[MAQD] [varchar](10) NOT NULL,
	[MOTA] [nvarchar](100) NULL,
 CONSTRAINT [PK_QUYDINH] PRIMARY KEY CLUSTERED 
(
	[MAQD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYDINH_SAN]    Script Date: 6/8/2022 5:09:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYDINH_SAN](
	[MASAN] [nchar](10) NOT NULL,
	[MAQD] [varchar](10) NOT NULL,
	[NGAYQD] [date] NOT NULL,
 CONSTRAINT [PK_QUYDINH_SAN] PRIMARY KEY CLUSTERED 
(
	[MASAN] ASC,
	[MAQD] ASC,
	[NGAYQD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANGIAODICH]    Script Date: 6/8/2022 5:09:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANGIAODICH](
	[MASAN] [nchar](10) NOT NULL,
	[TENSAN] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SANGIAODICH] PRIMARY KEY CLUSTERED 
(
	[MASAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOHUU]    Script Date: 6/8/2022 5:09:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOHUU](
	[MATK] [varchar](10) NOT NULL,
	[MACP] [varchar](10) NOT NULL,
	[SLCPSOHUU] [int] NOT NULL,
 CONSTRAINT [PK_SOHUU] PRIMARY KEY CLUSTERED 
(
	[MATK] ASC,
	[MACP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 6/8/2022 5:09:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TAIKHOAN] [nvarchar](50) NOT NULL,
	[MATKHAU] [nvarchar](50) NOT NULL,
	[MANV] [int] NOT NULL,
	[ROLE] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[TAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TKNH]    Script Date: 6/8/2022 5:09:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TKNH](
	[MATKNH] [varchar](20) NOT NULL,
	[MATK] [varchar](10) NOT NULL,
	[SOTIEN] [money] NOT NULL,
	[MANH] [varchar](20) NOT NULL,
 CONSTRAINT [PK_TKNH] PRIMARY KEY CLUSTERED 
(
	[MATKNH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANGTHAI]    Script Date: 6/8/2022 5:09:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHAI](
	[MATT] [varchar](10) NOT NULL,
	[TENTT] [nvarchar](50) NOT NULL,
	[GHICHU] [ntext] NULL,
 CONSTRAINT [PK_TRANGTHAI] PRIMARY KEY CLUSTERED 
(
	[MATT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[COPHIEU] ([MACP], [MASAN], [TENCTY], [DIACHI], [SDT], [FAX], [DIACHIWEB], [EMAIL], [SLCP]) VALUES (N'AAS', N'HNX       ', N'CÔNG TY CỔ PHẦN CHỨNG KHOÁN Á ÂU', N'TP.HCM', N'+84 25 7781 2772', N'82 24 16 17 2656', N'www.aas.com', N'aas@gmail.com', 24560)
INSERT [dbo].[COPHIEU] ([MACP], [MASAN], [TENCTY], [DIACHI], [SDT], [FAX], [DIACHIWEB], [EMAIL], [SLCP]) VALUES (N'ABC', N'HNX       ', N'CÔNG TY CỔ PHẦN ABC', N'TP.HCM', N'+84 5611894', N'8234 16 17 324', N'www.abc.com', N'abc@gmail.com', 7000)
INSERT [dbo].[COPHIEU] ([MACP], [MASAN], [TENCTY], [DIACHI], [SDT], [FAX], [DIACHIWEB], [EMAIL], [SLCP]) VALUES (N'ACBS', N'HSX       ', N'CÔNG TY TNHH CHỨNG KHOÁN ACB', N'TP.HCM', N'+84 71729 81', N'24357 16-0 17 2656', N'www.acbs.com', N'acbs@gmail.com', 34500)
GO
INSERT [dbo].[CT_QUYDINH] ([MANV], [MAQD], [BDGIA], [LLTT], [BUOCGIA]) VALUES (1, N'QD0001', 0.1, 10, 100)
GO
INSERT [dbo].[LENHDAT] ([MALENH], [MACP], [MATKNH], [LOAIGD], [SLDAT], [GIADAT], [NGAYGIODAT], [MATT], [MALOAILENH]) VALUES (N'ML1234', N'ABC', N'VNIB00001', N'B  ', 1000, 13500.0000, CAST(N'2021-10-24T18:30:00.000' AS DateTime), N'DH', N'LO')
INSERT [dbo].[LENHDAT] ([MALENH], [MACP], [MATKNH], [LOAIGD], [SLDAT], [GIADAT], [NGAYGIODAT], [MATT], [MALOAILENH]) VALUES (N'ML1253', N'AAS', N'VBAA00001', N'B  ', 800, 25000.0000, CAST(N'2021-09-10T23:35:31.177' AS DateTime), N'CHUAK', N'LO')
INSERT [dbo].[LENHDAT] ([MALENH], [MACP], [MATKNH], [LOAIGD], [SLDAT], [GIADAT], [NGAYGIODAT], [MATT], [MALOAILENH]) VALUES (N'ML1939', N'AAS', N'VBAA00001', N'B  ', 1240, 12000.0000, CAST(N'2021-09-16T22:30:00.000' AS DateTime), N'K1P', N'LO')
GO
INSERT [dbo].[LENHKHOP] ([MALENHKHOP], [NGAYGIOKHOP], [SLKHOP], [GIAKHOP], [MALENH]) VALUES (N'KML1939', CAST(N'2021-09-16T22:35:00.000' AS DateTime), 1000, 12000.0000, N'ML1939')
INSERT [dbo].[LENHKHOP] ([MALENHKHOP], [NGAYGIOKHOP], [SLKHOP], [GIAKHOP], [MALENH]) VALUES (N'KML2352', CAST(N'2021-09-25T22:15:00.000' AS DateTime), 5000, 26500.0000, N'ML2763')
INSERT [dbo].[LENHKHOP] ([MALENHKHOP], [NGAYGIOKHOP], [SLKHOP], [GIAKHOP], [MALENH]) VALUES (N'KML3245', CAST(N'2021-10-08T21:05:00.000' AS DateTime), 1500, 25000.0000, N'ML3436')
GO
INSERT [dbo].[LENHUNG] ([ID], [NGAYBAN], [NGAYYC], [SOTIENUNG], [PHIUNG], [MATKNH], [MACP]) VALUES (N'LU3243', CAST(N'2021-09-16T00:00:00.000' AS DateTime), CAST(N'2021-09-17T23:39:51.700' AS DateTime), 50000000.0000, 0.1000, N'VBAA00001', N'AAS')
GO
INSERT [dbo].[LICHSUGIA] ([MACP], [NGAY], [GIATC]) VALUES (N'AAS', CAST(N'2021-09-11' AS Date), 13200.0000)
INSERT [dbo].[LICHSUGIA] ([MACP], [NGAY], [GIATC]) VALUES (N'AAS', CAST(N'2021-09-13' AS Date), 24000.0000)
INSERT [dbo].[LICHSUGIA] ([MACP], [NGAY], [GIATC]) VALUES (N'ABC', CAST(N'2021-09-09' AS Date), 14500.0000)
GO
INSERT [dbo].[LOAILENH] ([MALOAILENH], [TENLENH], [MOTALENH]) VALUES (N'ATC', N'Lệnh giao dịch tại mức giá khớp lệnh xác định giá đóng cửa', N'Là lệnh đặt mua hoặc đặt bán chứng khoán tại mức giá đóng cửa')
INSERT [dbo].[LOAILENH] ([MALOAILENH], [TENLENH], [MOTALENH]) VALUES (N'ATO', N'Lệnh giao dịch tại mức giá khớp lệnh xác định giá mở cửa', N'Là lệnh đặt mua hoặc đặt bán chứng khoán tại mức giá mở cửa')
INSERT [dbo].[LOAILENH] ([MALOAILENH], [TENLENH], [MOTALENH]) VALUES (N'LO', N'Lệnh giới hạn ', N'Là lệnh mua hoặc lệnh bán chứng khoán tại một mức giá xác định hoặc  tốt hơn')
GO
INSERT [dbo].[NGANHANG] ([MANH], [TENNH]) VALUES (N'VBAAVNVX', N'Agribank_
Ngân hàng Nông nghiệp và Phát triển Việt Nam')
INSERT [dbo].[NGANHANG] ([MANH], [TENNH]) VALUES (N'BIDVVNVX', N'BIDV_
Ngân hàng TMCP Đầu Tư Và Phát Triển Việt Nam')
INSERT [dbo].[NGANHANG] ([MANH], [TENNH]) VALUES (N'SGTTVNVX', N'Sacombank_Ngân hàng TMCP Sài Gòn Thương Tín')
GO
INSERT [dbo].[NGAY] ([NGAY]) VALUES (CAST(N'2021-09-09' AS Date))
INSERT [dbo].[NGAY] ([NGAY]) VALUES (CAST(N'2021-09-11' AS Date))
INSERT [dbo].[NGAY] ([NGAY]) VALUES (CAST(N'2021-09-12' AS Date))
GO
INSERT [dbo].[NHADAUTU] ([MATK], [HO], [TEN], [NGAYSINH], [NOISINH], [PHAI], [DIACHI], [EMAIL], [SDT], [CMND_PASSPORT], [NGAYCAP], [NOICAP], [NOILAMVIEC], [MAGD], [MKDATLENH]) VALUES (N'MTK1123', N'Nguyen Van', N'A', CAST(N'1988-01-01' AS Date), NULL, N'Nam', N'TP_HCM', N'nguyenvana@gmail.com', N'0284627648', N'1234567', CAST(N'2021-01-01' AS Date), N'TP_HCM', N'T', N'abc123', N'123')
INSERT [dbo].[NHADAUTU] ([MATK], [HO], [TEN], [NGAYSINH], [NOISINH], [PHAI], [DIACHI], [EMAIL], [SDT], [CMND_PASSPORT], [NGAYCAP], [NOICAP], [NOILAMVIEC], [MAGD], [MKDATLENH]) VALUES (N'MTK1244', N'Tran ', N'Linh', CAST(N'1988-01-01' AS Date), NULL, N'Nam', N'TP_HCM', N'nguyenvanlinh@gmail.com', N'0984627648', N'12131567', CAST(N'2021-02-05' AS Date), N'TP_HCM', N'T', N'abc123', N'123')
INSERT [dbo].[NHADAUTU] ([MATK], [HO], [TEN], [NGAYSINH], [NOISINH], [PHAI], [DIACHI], [EMAIL], [SDT], [CMND_PASSPORT], [NGAYCAP], [NOICAP], [NOILAMVIEC], [MAGD], [MKDATLENH]) VALUES (N'MTK1434', N'Tran Quoc', N'Quy', CAST(N'2006-08-06' AS Date), N'An Giang', N'Nam', N'TP_HCM', N'tranhuy@gmail', N'0736570993', N'234546', CAST(N'2021-02-01' AS Date), N'TP_HCM', N'T', N'jd2435', N'365')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [PHAI], [DIACHI], [SDT], [LUONG], [NGAYSINH]) VALUES (1, N'Trần Thị', N'Than', N'Nữ', N'TP_HCM', N'0927333724', 5500000.0000, CAST(N'2000-01-01' AS Date))
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [PHAI], [DIACHI], [SDT], [LUONG], [NGAYSINH]) VALUES (2, N'Lê Văn', N'Tuyền', N'Nam', N'Đồng Nai', N'0184941944', 10000000.0000, CAST(N'1999-02-25' AS Date))
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [PHAI], [DIACHI], [SDT], [LUONG], [NGAYSINH]) VALUES (3, N'Nguyễn Văn', N'A', N'Nam', N'TP_HCM', N'0123456789', 10000000.0000, CAST(N'1998-03-19' AS Date))
GO
INSERT [dbo].[QUYDINH] ([MAQD], [MOTA]) VALUES (N'QD0001    ', N'Quy định 1')
INSERT [dbo].[QUYDINH] ([MAQD], [MOTA]) VALUES (N'QD0002    ', NULL)
GO
INSERT [dbo].[QUYDINH_SAN] ([MASAN], [MAQD], [NGAYQD]) VALUES (N'HNX       ', N'QD0001', CAST(N'2019-01-01' AS Date))
INSERT [dbo].[QUYDINH_SAN] ([MASAN], [MAQD], [NGAYQD]) VALUES (N'HSX       ', N'QD0001', CAST(N'2019-01-01' AS Date))
GO
INSERT [dbo].[SANGIAODICH] ([MASAN], [TENSAN]) VALUES (N'HNX       ', N'Hanoi Stock Exchange')
INSERT [dbo].[SANGIAODICH] ([MASAN], [TENSAN]) VALUES (N'HSX       ', N'Ho Chi Minh Stock Exchange')
GO
INSERT [dbo].[SOHUU] ([MATK], [MACP], [SLCPSOHUU]) VALUES (N'MTK1123', N'AAS', 7200)
INSERT [dbo].[SOHUU] ([MATK], [MACP], [SLCPSOHUU]) VALUES (N'MTK1123', N'ACBS', 14000)
INSERT [dbo].[SOHUU] ([MATK], [MACP], [SLCPSOHUU]) VALUES (N'MTK1244', N'CAD', 23000)
GO
INSERT [dbo].[TAIKHOAN] ([TAIKHOAN], [MATKHAU], [MANV], [ROLE]) VALUES (N'AD01', N'123456', 3, N'AD')
INSERT [dbo].[TAIKHOAN] ([TAIKHOAN], [MATKHAU], [MANV], [ROLE]) VALUES (N'NV02', N'123456', 2, N'NV')
INSERT [dbo].[TAIKHOAN] ([TAIKHOAN], [MATKHAU], [MANV], [ROLE]) VALUES (N'NV07', N'123456', 1, N'NV')
GO
INSERT [dbo].[TKNH] ([MATKNH], [MATK], [SOTIEN], [MANH]) VALUES (N'BFTV00001', N'MTK2184', 67000000.0000, N'BFTVVNVX')
INSERT [dbo].[TKNH] ([MATKNH], [MATK], [SOTIEN], [MANH]) VALUES (N'BIDV00001', N'MTK2174', 700000000.0000, N'BIDVVNVX')
INSERT [dbo].[TKNH] ([MATKNH], [MATK], [SOTIEN], [MANH]) VALUES (N'BIDV00002', N'MTK2184', 780000000.0000, N'BIDVVNVX')
GO
INSERT [dbo].[TRANGTHAI] ([MATT], [TENTT], [GHICHU]) VALUES (N'CHOK', N'Chờ khớp', N'Trạng thái khi mới đặt lệnh')
INSERT [dbo].[TRANGTHAI] ([MATT], [TENTT], [GHICHU]) VALUES (N'CHUAK', N'Chưa khớp', N'Nếu hết phiên mà lệnh không khớp')
INSERT [dbo].[TRANGTHAI] ([MATT], [TENTT], [GHICHU]) VALUES (N'DH', N'Đã hủy', N'Nếu nhà đầu tư hủy lệnh')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TENCTY]    Script Date: 6/8/2022 5:09:36 PM ******/
ALTER TABLE [dbo].[COPHIEU] ADD  CONSTRAINT [UQ_TENCTY] UNIQUE NONCLUSTERED 
(
	[TENCTY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TENNH]    Script Date: 6/8/2022 5:09:36 PM ******/
ALTER TABLE [dbo].[NGANHANG] ADD  CONSTRAINT [UQ_TENNH] UNIQUE NONCLUSTERED 
(
	[TENNH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CMND_PASSPORT]    Script Date: 6/8/2022 5:09:36 PM ******/
ALTER TABLE [dbo].[NHADAUTU] ADD  CONSTRAINT [UQ_CMND_PASSPORT] UNIQUE NONCLUSTERED 
(
	[CMND_PASSPORT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_SDTNV]    Script Date: 6/8/2022 5:09:36 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [UQ_SDTNV] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TENSAN]    Script Date: 6/8/2022 5:09:36 PM ******/
ALTER TABLE [dbo].[SANGIAODICH] ADD  CONSTRAINT [UQ_TENSAN] UNIQUE NONCLUSTERED 
(
	[TENSAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[COPHIEU] ADD  CONSTRAINT [DF_COPHIEU_SLCPNIEMYET]  DEFAULT ((0)) FOR [SLCP]
GO
ALTER TABLE [dbo].[CT_QUYDINH] ADD  CONSTRAINT [DF_CT_QUYDINH_BDGIA]  DEFAULT ((0)) FOR [BDGIA]
GO
ALTER TABLE [dbo].[CT_QUYDINH] ADD  CONSTRAINT [DF_CT_QUYDINH_LLTT]  DEFAULT ((0)) FOR [LLTT]
GO
ALTER TABLE [dbo].[CT_QUYDINH] ADD  CONSTRAINT [DF_CT_QUYDINH_BUOCGIA]  DEFAULT ((0)) FOR [BUOCGIA]
GO
ALTER TABLE [dbo].[LENHDAT] ADD  CONSTRAINT [DF_LENHDAT_NGAYGIODAT]  DEFAULT (getdate()) FOR [NGAYGIODAT]
GO
ALTER TABLE [dbo].[LENHDAT] ADD  CONSTRAINT [DF_Table_1_MaTrangThai]  DEFAULT ('ChoKhop') FOR [MALOAILENH]
GO
ALTER TABLE [dbo].[LENHKHOP] ADD  CONSTRAINT [DF_LENHKHOP_NGAYGIOKHOP]  DEFAULT (getdate()) FOR [NGAYGIOKHOP]
GO
ALTER TABLE [dbo].[LENHUNG] ADD  CONSTRAINT [DF_LENHUNG_NGAYYEUCAU]  DEFAULT (getdate()) FOR [NGAYYC]
GO
ALTER TABLE [dbo].[LICHSUGIA] ADD  CONSTRAINT [DF_Table_1_NgayGD]  DEFAULT (getdate()) FOR [NGAY]
GO
ALTER TABLE [dbo].[LICHSUGIA] ADD  CONSTRAINT [DF_GIATHAMCHIEU_GIATC]  DEFAULT ((0)) FOR [GIATC]
GO
ALTER TABLE [dbo].[NHADAUTU] ADD  CONSTRAINT [DF_NHADAUTU_PHAI]  DEFAULT (N'Nam') FOR [PHAI]
GO
ALTER TABLE [dbo].[NHADAUTU] ADD  CONSTRAINT [DF_NHADAUTU_DIACHI]  DEFAULT ('') FOR [DIACHI]
GO
ALTER TABLE [dbo].[NHADAUTU] ADD  CONSTRAINT [DF_NHADAUTU_NOILAMVIEC]  DEFAULT ('T') FOR [NOILAMVIEC]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_PHAI]  DEFAULT (N'Nam') FOR [PHAI]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_DIACHI]  DEFAULT ('') FOR [DIACHI]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_LUONG]  DEFAULT ((1000000)) FOR [LUONG]
GO
ALTER TABLE [dbo].[TKNH] ADD  CONSTRAINT [DF_TKNH'_SOTIEN]  DEFAULT ((0)) FOR [SOTIEN]
GO
ALTER TABLE [dbo].[COPHIEU]  WITH CHECK ADD  CONSTRAINT [FK_COPHIEU_SANGIAODICH] FOREIGN KEY([MASAN])
REFERENCES [dbo].[SANGIAODICH] ([MASAN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[COPHIEU] CHECK CONSTRAINT [FK_COPHIEU_SANGIAODICH]
GO
ALTER TABLE [dbo].[CT_QUYDINH]  WITH CHECK ADD  CONSTRAINT [FK_CT_QUYDINH_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_QUYDINH] CHECK CONSTRAINT [FK_CT_QUYDINH_NHANVIEN]
GO
ALTER TABLE [dbo].[CT_QUYDINH]  WITH CHECK ADD  CONSTRAINT [FK_CT_QUYDINH_QUYDINH] FOREIGN KEY([MAQD])
REFERENCES [dbo].[QUYDINH] ([MAQD])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_QUYDINH] CHECK CONSTRAINT [FK_CT_QUYDINH_QUYDINH]
GO
ALTER TABLE [dbo].[LENHDAT]  WITH CHECK ADD  CONSTRAINT [FK_LENHDAT_COPHIEU] FOREIGN KEY([MACP])
REFERENCES [dbo].[COPHIEU] ([MACP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LENHDAT] CHECK CONSTRAINT [FK_LENHDAT_COPHIEU]
GO
ALTER TABLE [dbo].[LENHDAT]  WITH CHECK ADD  CONSTRAINT [FK_LENHDAT_LOAILENH] FOREIGN KEY([MALOAILENH])
REFERENCES [dbo].[LOAILENH] ([MALOAILENH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LENHDAT] CHECK CONSTRAINT [FK_LENHDAT_LOAILENH]
GO
ALTER TABLE [dbo].[LENHDAT]  WITH CHECK ADD  CONSTRAINT [FK_LENHDAT_TKNH] FOREIGN KEY([MATKNH])
REFERENCES [dbo].[TKNH] ([MATKNH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LENHDAT] CHECK CONSTRAINT [FK_LENHDAT_TKNH]
GO
ALTER TABLE [dbo].[LENHDAT]  WITH CHECK ADD  CONSTRAINT [FK_LENHDAT_TRANGTHAI] FOREIGN KEY([MATT])
REFERENCES [dbo].[TRANGTHAI] ([MATT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LENHDAT] CHECK CONSTRAINT [FK_LENHDAT_TRANGTHAI]
GO
ALTER TABLE [dbo].[LENHKHOP]  WITH CHECK ADD  CONSTRAINT [FK_LENHKHOP_LENHDAT] FOREIGN KEY([MALENH])
REFERENCES [dbo].[LENHDAT] ([MALENH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LENHKHOP] CHECK CONSTRAINT [FK_LENHKHOP_LENHDAT]
GO
ALTER TABLE [dbo].[LENHUNG]  WITH CHECK ADD  CONSTRAINT [FK_LENHUNG_COPHIEU] FOREIGN KEY([MACP])
REFERENCES [dbo].[COPHIEU] ([MACP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LENHUNG] CHECK CONSTRAINT [FK_LENHUNG_COPHIEU]
GO
ALTER TABLE [dbo].[LENHUNG]  WITH CHECK ADD  CONSTRAINT [FK_LENHUNG_TKNH] FOREIGN KEY([MATKNH])
REFERENCES [dbo].[TKNH] ([MATKNH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LENHUNG] CHECK CONSTRAINT [FK_LENHUNG_TKNH]
GO
ALTER TABLE [dbo].[LICHSUGIA]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUGIA_COPHIEU] FOREIGN KEY([MACP])
REFERENCES [dbo].[COPHIEU] ([MACP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LICHSUGIA] CHECK CONSTRAINT [FK_LICHSUGIA_COPHIEU]
GO
ALTER TABLE [dbo].[LICHSUGIA]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUGIA_NGAY] FOREIGN KEY([NGAY])
REFERENCES [dbo].[NGAY] ([NGAY])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LICHSUGIA] CHECK CONSTRAINT [FK_LICHSUGIA_NGAY]
GO
ALTER TABLE [dbo].[QUYDINH_SAN]  WITH CHECK ADD  CONSTRAINT [FK_QUYDINH_SAN_QUYDINH] FOREIGN KEY([MAQD])
REFERENCES [dbo].[QUYDINH] ([MAQD])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[QUYDINH_SAN] CHECK CONSTRAINT [FK_QUYDINH_SAN_QUYDINH]
GO
ALTER TABLE [dbo].[QUYDINH_SAN]  WITH CHECK ADD  CONSTRAINT [FK_QUYDINH_SAN_SANGIAODICH] FOREIGN KEY([MASAN])
REFERENCES [dbo].[SANGIAODICH] ([MASAN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[QUYDINH_SAN] CHECK CONSTRAINT [FK_QUYDINH_SAN_SANGIAODICH]
GO
ALTER TABLE [dbo].[SOHUU]  WITH CHECK ADD  CONSTRAINT [FK_SOHUU_COPHIEU] FOREIGN KEY([MACP])
REFERENCES [dbo].[COPHIEU] ([MACP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SOHUU] CHECK CONSTRAINT [FK_SOHUU_COPHIEU]
GO
ALTER TABLE [dbo].[SOHUU]  WITH CHECK ADD  CONSTRAINT [FK_SOHUU_NHADAUTU] FOREIGN KEY([MATK])
REFERENCES [dbo].[NHADAUTU] ([MATK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SOHUU] CHECK CONSTRAINT [FK_SOHUU_NHADAUTU]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_NHANVIEN]
GO
ALTER TABLE [dbo].[TKNH]  WITH CHECK ADD  CONSTRAINT [FK_TKNH_NGANHANG] FOREIGN KEY([MANH])
REFERENCES [dbo].[NGANHANG] ([MANH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TKNH] CHECK CONSTRAINT [FK_TKNH_NGANHANG]
GO
ALTER TABLE [dbo].[TKNH]  WITH CHECK ADD  CONSTRAINT [FK_TKNH_NHADAUTU] FOREIGN KEY([MATK])
REFERENCES [dbo].[NHADAUTU] ([MATK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TKNH] CHECK CONSTRAINT [FK_TKNH_NHADAUTU]
GO
ALTER TABLE [dbo].[COPHIEU]  WITH CHECK ADD  CONSTRAINT [CK_SLCP] CHECK  (([SLCP]>=(0)))
GO
ALTER TABLE [dbo].[COPHIEU] CHECK CONSTRAINT [CK_SLCP]
GO
ALTER TABLE [dbo].[CT_QUYDINH]  WITH CHECK ADD  CONSTRAINT [CK_BDGIA] CHECK  (([BDGIA]>=(0)))
GO
ALTER TABLE [dbo].[CT_QUYDINH] CHECK CONSTRAINT [CK_BDGIA]
GO
ALTER TABLE [dbo].[CT_QUYDINH]  WITH CHECK ADD  CONSTRAINT [CK_BUOCGIA] CHECK  (([BUOCGIA]>=(0)))
GO
ALTER TABLE [dbo].[CT_QUYDINH] CHECK CONSTRAINT [CK_BUOCGIA]
GO
ALTER TABLE [dbo].[CT_QUYDINH]  WITH CHECK ADD  CONSTRAINT [CK_LLTT] CHECK  (([LLTT]>=(10)))
GO
ALTER TABLE [dbo].[CT_QUYDINH] CHECK CONSTRAINT [CK_LLTT]
GO
ALTER TABLE [dbo].[LENHDAT]  WITH CHECK ADD  CONSTRAINT [CK_GIADAT] CHECK  (([GIADAT]>(0)))
GO
ALTER TABLE [dbo].[LENHDAT] CHECK CONSTRAINT [CK_GIADAT]
GO
ALTER TABLE [dbo].[LENHDAT]  WITH CHECK ADD  CONSTRAINT [CK_LOAIGD] CHECK  (([LOAIGD]='M' OR [LOAIGD]='B'))
GO
ALTER TABLE [dbo].[LENHDAT] CHECK CONSTRAINT [CK_LOAIGD]
GO
ALTER TABLE [dbo].[LENHDAT]  WITH CHECK ADD  CONSTRAINT [CK_SLDAT] CHECK  (([SLDAT]>(0)))
GO
ALTER TABLE [dbo].[LENHDAT] CHECK CONSTRAINT [CK_SLDAT]
GO
ALTER TABLE [dbo].[LENHKHOP]  WITH CHECK ADD  CONSTRAINT [CK_GIAKHOP] CHECK  (([GIAKHOP]>(0)))
GO
ALTER TABLE [dbo].[LENHKHOP] CHECK CONSTRAINT [CK_GIAKHOP]
GO
ALTER TABLE [dbo].[LENHKHOP]  WITH CHECK ADD  CONSTRAINT [CK_SLKHOP] CHECK  (([SLKHOP]>(0)))
GO
ALTER TABLE [dbo].[LENHKHOP] CHECK CONSTRAINT [CK_SLKHOP]
GO
ALTER TABLE [dbo].[LENHUNG]  WITH CHECK ADD  CONSTRAINT [CK_SOTIENUNG] CHECK  (([SOTIENUNG]>(0)))
GO
ALTER TABLE [dbo].[LENHUNG] CHECK CONSTRAINT [CK_SOTIENUNG]
GO
ALTER TABLE [dbo].[LICHSUGIA]  WITH CHECK ADD  CONSTRAINT [CK_GIATC] CHECK  (([GIATC]>(0)))
GO
ALTER TABLE [dbo].[LICHSUGIA] CHECK CONSTRAINT [CK_GIATC]
GO
ALTER TABLE [dbo].[NHADAUTU]  WITH CHECK ADD  CONSTRAINT [CK_NOILAMVIEC] CHECK  (([NOILAMVIEC]='N' OR [NOILAMVIEC]='T'))
GO
ALTER TABLE [dbo].[NHADAUTU] CHECK CONSTRAINT [CK_NOILAMVIEC]
GO
ALTER TABLE [dbo].[NHADAUTU]  WITH CHECK ADD  CONSTRAINT [CK_PHAI] CHECK  (([PHAI]=N'Nam' OR [PHAI]=N'Nữ'))
GO
ALTER TABLE [dbo].[NHADAUTU] CHECK CONSTRAINT [CK_PHAI]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_LUONG] CHECK  (([LUONG]>=(1000000)))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_LUONG]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_PHAINV] CHECK  (([PHAI]=N'Nữ' OR [PHAI]='Nam'))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_PHAINV]
GO
ALTER TABLE [dbo].[SOHUU]  WITH CHECK ADD  CONSTRAINT [CK_SLCPSOHUU] CHECK  (([SLCPSOHUU]>=(0)))
GO
ALTER TABLE [dbo].[SOHUU] CHECK CONSTRAINT [CK_SLCPSOHUU]
GO
ALTER TABLE [dbo].[TKNH]  WITH CHECK ADD  CONSTRAINT [CK_SOTIEN] CHECK  (([SOTIEN]>=(0)))
GO
ALTER TABLE [dbo].[TKNH] CHECK CONSTRAINT [CK_SOTIEN]
GO
/****** Object:  StoredProcedure [dbo].[SP_LK_SLCP_GIATRI]    Script Date: 6/8/2022 5:09:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LK_SLCP_GIATRI]
@X NVARCHAR(10)
AS
BEGIN
	SELECT DISTINCT SH.MACP, SLCPSOHUU, DONGIA=GIAKHOP, TRIGIA=SLCPSOHUU*GIAKHOP
	FROM 
		(SELECT MACP, SLCPSOHUU FROM SOHUU WHERE MATK=@X) SH,
		(SELECT MACP, NGAYMAX= MAX(NGAYGIODAT) 
			FROM LENHDAT LD INNER JOIN LENHKHOP LK ON LD.MALENH=LK.MALENH 
			GROUP BY MACP)TAM1,
		(SELECT MACP, GIAKHOP, NGAYGIODAT 
			FROM LENHDAT LD INNER JOIN LENHKHOP LK ON LD.MALENH=LK.MALENH)TAM2
	WHERE TAM2.NGAYGIODAT=TAM1.NGAYMAX AND SH.MACP=TAM1.MACP AND  TAM1.MACP=TAM2.MACP
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SAO_KE_LENH_KHOP]    Script Date: 6/8/2022 5:09:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SAO_KE_LENH_KHOP]
@X NVARCHAR(10),
@TUNGAY NVARCHAR(10),
@DENNGAY NVARCHAR(10)
AS
BEGIN
	SET DATEFORMAT DMY
	SELECT NGAYGIOKHOP, LD.MACP, LOAIGD, MALOAILENH, SLKHOP, GIAKHOP
	FROM LENHDAT LD, LENHKHOP LK, 
		(SELECT MATKNH FROM TKNH WHERE TKNH.MATK=@X) TK
	WHERE CONVERT(DATE,NGAYGIOKHOP) BETWEEN @TUNGAY AND @DENNGAY AND LD.MALENH = LK.MALENH AND TK.MATKNH=LD.MATKNH
	ORDER BY NGAYGIOKHOP
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SAO_KE_TATCALENHDAT]    Script Date: 6/8/2022 5:09:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SAO_KE_TATCALENHDAT]
@X NVARCHAR(10),
@NGAY NVARCHAR(10)
AS
BEGIN
	SET DATEFORMAT DMY
	SELECT LD.MACP, MALOAILENH, CONVERT(CHAR(8), NGAYGIODAT,108) AS GIODAT, SLDAT, GIADAT, MATT, SLKHOP, GIAKHOP 
	FROM ((SELECT * FROM LENHDAT WHERE CONVERT(DATE,NGAYGIODAT)=@NGAY)LD 
			LEFT JOIN LENHKHOP LK WITH(INDEX=IX_MALENH) ON LD.MALENH=LK.MALENH ) INNER JOIN
		(SELECT MATKNH FROM TKNH WHERE TKNH.MATK=@X) SH 
			ON LD.MATKNH=SH.MATKNH
	ORDER BY CONVERT(CHAR(8), NGAYGIODAT,108)
END
GO
/****** Object:  Trigger [dbo].[SLCoPhieu_DatLenh]    Script Date: 6/8/2022 5:09:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[SLCoPhieu_DatLenh]
ON [dbo].[LENHDAT] AFTER UPDATE, INSERT
AS
DECLARE @LOAIGD NCHAR(2) = (SELECT LOAIGD FROM INSERTED)
DECLARE @MACP NCHAR(10) = (SELECT MACP FROM INSERTED)
DECLARE @TONGSLCP INT = (SELECT SLCP FROM COPHIEU WHERE MACP = @MACP)
DECLARE @SLDAT INT = (SELECT SLDAT FROM INSERTED)
DECLARE @MATK NCHAR(10) = (SELECT MATK FROM TKNH WHERE MATKNH = (SELECT MATKNH FROM INSERTED ) )
DECLARE @CHECK INT = 2
IF(@LOAIGD='B')
	BEGIN
		IF NOT EXISTS (SELECT * FROM SOHUU WHERE MACP = @MACP AND MATK = @MATK)
		BEGIN
			RAISERROR('Nhà đầu tư không sở hữu cổ phiêu này',16,1)
			ROLLBACK TRANSACTION
		END
		SELECT @CHECK = (CASE WHEN SLCPSOHUU - @SLDAT >= 0 THEN 1 ELSE 0 END) FROM SOHUU WHERE MACP = @MACP AND MATK = @MATK
	END
ELSE
	BEGIN
		SELECT @CHECK = (CASE WHEN @TONGSLCP - (SLCPSOHUU + @SLDAT) >= 0 THEN 1 ELSE 0 END) FROM SOHUU WHERE MACP = @MACP AND MATK = @MATK
	END

IF @CHECK = 0
	BEGIN
		RAISERROR('Số lượng cổp phiếu đặt vượt khỏi số lượng cho phép',16,1)
		ROLLBACK TRANSACTION
	END
GO
ALTER TABLE [dbo].[LENHDAT] ENABLE TRIGGER [SLCoPhieu_DatLenh]
GO
/****** Object:  Trigger [dbo].[SLCoPhieuSoHuu_NDT]    Script Date: 6/8/2022 5:09:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[SLCoPhieuSoHuu_NDT]
ON [dbo].[SOHUU] AFTER INSERT, UPDATE
AS
DECLARE @MACP NVARCHAR(10) = (SELECT MACP FROM INSERTED)
DECLARE @TONGSLCP INT = (SELECT SLCP FROM COPHIEU WHERE MACP = @MACP)
DECLARE @CHECK INT

SELECT @CHECK = (CASE WHEN  @TONGSLCP - SUM(SLCPSOHUU) >= 0 THEN 1 ELSE  0 END)
FROM (SELECT MACP, SLCPSOHUU FROM SOHUU WHERE MACP = @MACP) CP
GROUP BY MACP

IF @CHECK = 0
	BEGIN
		RAISERROR('Số lượng cổ phần sở hữu của nhà đầu tư vượt quá số lượng cho phép',16,1)
		ROLLBACK TRANSACTION
	END
GO
ALTER TABLE [dbo].[SOHUU] ENABLE TRIGGER [SLCoPhieuSoHuu_NDT]
GO
USE [master]
GO
